#ball{
    width:300px;
    height:300px;
}

#ball2{
    width:300px;
    height:300px;
}

#ballholder{
    display:flex;
    justify-content:center;
}
#first{
    margin:10px;
}
#second{
    margin:10px;
}
#third{
    margin:10px;
}
span{
    color:orange;
}

#ball2{
    display:none;
}

body {
    background-image: url("https://i.gifer.com/5Jxn.gif");background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

